
<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <title>About Sam</title>
    <%= render 'shared/links' %>
    <%= stylesheet_link_tag "about" %>
    <%= render 'shared/analytics' %>
  </head>
  
  <body> 
    <%= render 'shared/contact' %>
    <div class="wrap">                  
      <div class="post">
        <div class="author">
          <%= image_tag "sambali.jpg", :class => "rome_img" %>
        </div>    
        <div class="text">
          <h2>About Sam</h2>
          <p>Sam has three years experience as a professional Math tutor in NYC. He specializes in standardized test prep, and has a proven system for helping students reach their goal scores on the SAT.</p>
          <p>A New York native, Sam is a graduate of Friends Seminary ('09) and Wesleyan University ('13), where he majored in Mathematics and Psychology, and minored in Computer Science. Sam's interests include travel, food, basketball, and tech. Please take a look at his <%= link_to('résumé', asset_path('resume.pdf'), :target => '_blank') %>. </p>
        </div>              
      </div> <!-- end post -->           
    </div> <!-- end wrap -->
    <%= render 'shared/footer' %>
  </body>
</html>
