
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->

    <title>About Sam</title>

    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">

    <%= stylesheet_link_tag "about" %>
</head>


<body>
    <!-- BEGIN Header --> 
    <header id="header">
    	<div class="wrap">
        	<div id="left-navigation">
          		<p> <a href="tel: +16466233224">(646) 623-3224</a> </p>
        	</div>

        	<div id="right-navigation">
        		<p><a href="mailto:sam@samnebel.com" target="_blank">sam@samnebel.com</a></p>
        	</div>
      	</div>
    </header>

    <div class="wrap">
        <div class="posts">                
                
            <div class="post">
                <div class="author">
                    <%= image_tag "sambali.jpg", :class => "rome_img" %>
                </div>
                    
                <div class="text">
                    <h2>About Sam</h2>
                        
                    <p class="par">Sam has three years experience as a professional Math tutor in NYC.   He specializes in standardized test prep, and has a proven system for helping students reach their goal scores on the SAT.
                    A New York native, Sam is a graduate of Friends Seminary ('09) and Wesleyan University ('13), where he majored in Mathematics and Psychology, and minored in Computer Science.</p>
                    <p>Sam's interests include travel, food, basketball, and tech. You can take a look at his resume, <a href="file:///Users/Nebs/Desktop/HTML/Sam%20Nebel%20Resume%CC%81.pdf">here.</a></p>
                </div>              
            </div> <!-- end post -->
        </div> <!-- end posts -->           
    </div> <!-- end wrap -->

    <footer>
        <div class="wrap">
            <nav>
            <div class="column">
                <%= link_to "Home", root_path %>
                <%= link_to "Rates", rates_path %>
                <%= link_to "Testimonials", testimonials_path %>
                <%= link_to "FAQ", faq_path %>
            </div>
            </nav>
            <div class="column last">
                <p>© Sam Nebel Math Tutoring 2011 &#x2022 <font color="#ff770d"><b>NYC</b></font></p>
            </div>
        </div>
    </footer>
    
</body>
</html>