<!DOCTYPE html>
<html>
  <head>
    <title>FAQ & Comments</title>
    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">
    <link rel="logo" type="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">

    <!-- Styles -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" type="text/css" rel="stylesheet">
    <%= stylesheet_link_tag "other" %>

    <style>
      .content, p {
        text-align: left;
      }
    </style>
  </head>
  
  
  <!-- Body -->
  <body class="legal">
    <!-- BEGIN Header --> 
    <header id="header">
      <div class="wrap">
        <div id="left-navigation">
          <p><!--<img src="https://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/16x16/contact.png">-->
          <a href="tel: +16466233224">(646) 623-3224</a></p>
        </div>
        <div id="right-navigation">
          <p><!--<img src="https://cdn1.iconfinder.com/data/icons/munich/16x16/email.png">-->
          <a href="mailto:sam@samnebel.com" target="_blank">sam@samnebel.com</a></p>
        </div>
      </div>
    </header>
        <!-- END Header -->

    <!-- BEGIN Content -->
    <div class="content "> 
      <div class="wrap">
      <h1>Questions & Comments</h1>
        <section>
          <h2>Can the SAT be taught?</h2>
          <p>Yes and no. There are strategies and tricks that can be learned for solving SAT questions, and the material covered is finite and teachable. But even with a great teacher, no one can learn Math without practicing it themselves.
 
What I do is provide the framework, clarifications, and motivation to make the workload more manageable. I help students understand their mistakes, teach problem-solving strategies, and push them to work hard and practice on their own.
          </p>

          <h2>Why individual tutoring over group lessons?</h2>
          <p>Group classes don't allow for the individualized attention needed for substantial improvement on the SAT. I know from my experience as both a tutor and a student that shorter, one-on-one sessions yield better focus, clearer communication, and a more comfortable learning environment.
          </p>

          <h2>Why such a strong emphasis on practice tests?</h2>
          <p>Practice tests get students thinking about problems and generating questions before we meet, leading to more engaging and productive sessions. Practicing in exam-like settings also helps students build up their endurance and ensures they are mentally prepared for test day.</p>
 
          <p>In addition, I believe practice makes perfect. The most common student concern I hear is, "I have trouble understanding the questions and realizing what I'm supposed to do."  The only way to overcome this issue is to get more familiar with the style of questions on the exam, and the consistent phrasing style that's used. Conquering as many problems as possible is the best way to improve.
          </p>

          <h2>$100 seems like a lot for a 90 minute session...</h2>
          <p>Sessions are focused and intense. I prepare for every session by taking notes on that day's practice test and preparing specialized problem sets for each student. I also make myself easily available by text and email to help outside of our sessions as much as I can. When you factor in travel time, you are really paying for about 3-4 hours of my time. Also, as per my rates page, I try to be flexible about the cost of my sessions, and rates are negotiable.
          </p>

          <h2>Why do many SAT tutors charge so much more?</h2>
          <p>Many tutors claim to know the best tips, tricks, and strategies of the SAT, and charge a premium to seem like a leading test prep service. However, there are no magic words that suddenly make it all click, and those strategies are not exclusive knowledge. Real improvement is driven by the student, and it's the combination of practice and clear explanations that leads to results. 
          </p>

          <h2>OK, but there are a lot of tutors out there. Specifically,
          why you?</h2>
          <p>(1) I know my stuff. I spent the past three years analyzing SAT subject-matter, gathering materials, and honing my tutoring abilities. I've helped over 20 students prepare for the SAT, and I know all the "tips" and "tricks," too.</p>
          <p>(2) I've been learning Math my whole life. I majored in Math in college, and my own SATs weren't all that long ago. I know precisely how it feels to be a Math student. The only way to teach a subject effectively is to know what it's like to learn it, and being a good tutor is all about being perceptive.</p>
          <p>(3) Every session revolves around the student completing the full math portion of a practice exam before we meet. We'll break down the exam in detail, making sure the student understands what he/she missed and discussing test-taking strategy. We'll then spend time going over a set of problems I'll prepare before hand. These are designed to get the student more comfortable with a difficult topic.</p>
          <p>I put a lot of effort into preparing lessons, study plans, and practice problems, making it easy for students to practice the right way and get better on their own. Lastly, hiring me is risk-free. If you're unsatisfied with the first session, it's free.</p>
          <h2>Why don't you tutor more subjects?</h2>
          <p>I used to tutor Statistics and Calculus, but I decided to narrow down a while ago. This gave me the opportunity to develop my tutoring methods in a few select areas and offer a more specialized servce. I chose to focus on the SAT because it's such a pivotal test for high schoolers.</p>
          <h2>Are references available upon request?<h2>
          <p>I have testimonials on my website, here, and you can take a look at my resume, here. I'm happy to answer any questions over the phone, and the first session is free if you are unhappy wiht my service. You can also email me directly for references.</p>
          
        </section>
      </div>
    </div>
        <!-- END Content -->

        <!-- BEGIN Footer -->
    <footer>
        <div class="wrap">
            <nav>
            <div class="column">
                <%= link_to "Home", root_path %>
                <%= link_to "About Sam", about_path %>
                <%= link_to "Rates", rates_path %>
                <%= link_to "Testimonials", testimonials_path %>
                <%= link_to "FAQ", faq_path %>
            </div>
            </nav>
            <div class="column last">
                <p>Sam Nebel Math Tutoring, ack: <a href="http://flek.co" target="_blank" class="orange">Flek</a></p>
            </div>
        </div>
    </footer>
  </body>
</html>
