<!DOCTYPE html>
<html>
  <head>
    <title>Sam Nebel Math Tutoring</title>
    <%= render 'shared/meta' %>
    <%= render 'shared/links' %>
    <%= stylesheet_link_tag "home" %>
    <%= render 'shared/analytics' %>        
  </head>

  <body>    
    <header id="header">
      <div class="wrap">
        <div id="left-navigation">
          <%= link_to "Home", root_path %>
          <%= link_to "About Sam", about_path %>
          <%= link_to "Rates", rates_path %>
          <%= link_to "Testimonials", testimonials_path %>
          <%= link_to "FAQ", faq_path %>
        </div>

        <div id="right-navigation">
          <% if signed_in? %>  
            <%= link_to "Sign out", signout_path, method: "delete" %>        
          <% else %>
            <%= link_to "Sign in", signin_path %>
          <% end %>
        </div>
      </div>
    </header>

    <!-- BEGIN Content -->
    <div class="lead">
      <div class="wrap">
        <h1>Welcome! I'm Sam, a Top NYC Math Tutor</h1>
        <h2><em>Learn Math the right way.</em> An effective, friendly, risk-free tutoring service.</h2>
            
        <div class="call-to-action">  
          <div id="mc_embed_signup" class="signup-form">
            <%= image_tag "samrome.png" %>

            <form action="MAILTO:sam@samnebel.com?subject=Math%20Question" method="post" enctype="text/plain" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                                
              <input type="text" value="" name="Q" class="email" id="mce-EMAIL" placeholder="Ask me a question!" autocorrect="off" spellcheck="false" required>
                
              <button type="submit" id="mc-embedded-subscribe"><span class="icon"></span> </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%= render 'points' %> 

    <footer>
      <div class="wrap">
        <nav>
          <div class="column">
            <%= link_to "Sign Up", signup_path %>
            <%= link_to "Resources", resources_path %>
            <%= link_to "Payments", pay_path %> 
            <%= link_to "Schedule", schedule_path %>         
          </div> 
        </nav>

        <div class="column last">
          <p>© Sam Nebel Math Tutoring 2011 &#x2022 <font color="#ff770d"><b>NYC</b></font></p>
        </div>
      </div>
    </footer>

  </body>
</html>
