<!DOCTYPE html>
<html>
  <head>
    <title>Rates & Info</title>
    <%= render 'shared/links' %>      
    <%= stylesheet_link_tag "other" %>
    <%= render 'shared/analytics' %>
  </head>
  
  <body class="legal">
    <%= render 'shared/contact' %>
    <div class="wrap">
      <h1>Rates & Information</h1>
      <section>
        <h2>Location</h2>
        <p>Tutoring occurs at the student's home or other location in Manhattan, western Queens, or Downtown Brooklyn. Rates include travel costs and email support between sessions.</p>

        <h2>SAT Prep – $100* / 90mins – $120* / 2 hours</h2>
        <p>60 minutes is too short for students to absorb new SAT skills. The recommended session length is 90 minutes, though 2 hour sessions are available. Sessions generally involve analyzing a practice test completed for homework and working through a more narrowly focused set of problems. SAT prep is individualized for each student. See the <%= link_to "FAQ", faq_path %> page for more info on Sam's method for tutoring the SAT.</p>

        <h2>SAT Crash Course – $900*</h2>
        <p>Five weeks, ten 90 minute sessions, ten practice tests, priority scheduling. Individualized study plan and test-taking strategy to help each student reach his or her goal score.</p>

        <h2>Regents Prep – $60* / hour</h2>
        <p>Thorough preparation for the Geometry, Integrated Algebra, or Algebra 2/Trigonometry exam. </p>

        <h2>Geometry, Algebra, Precalculus help – $50* /  hour*</h2>
        <p>Sam offers homework help and test prep in these three subjects only.</p>

        <p><b>*</b>The above rates are Sam's standard fees, but he is always flexible depending on financial situations.</p>
      </section>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
