<footer>
    <div class="wrap">
        <nav>
        <div class="column">
            <%= link_to "Home", root_path %>
            <%= link_to "About Sam", about_path %>
            <%= link_to "Rates", rates_path %>
            <%= link_to "Testimonials", testimonials_path %>
            <%= link_to "FAQ", faq_path %>
        </div>
        </nav>
        <div class="column last">
            <p>© Sam Nebel Math Tutoring 2011 &#x2022 <font color="#ff770d"><b>NYC</b></font></p>
        </div>
    </div>
</footer>